<p-card>
  <form [formGroup]="expensesForm" class="form-container">
    <div class="form-item-container">

      <p-dropdown
        [options]="categories"
        formControlName="newCategory"
        optionLabel="name"
        placeholder="Category"
      ></p-dropdown>

      <input
        formControlName="newName"
        id="expenseName"
        placeholder="Expense Name"
        type="text"
      />


      <p-inputNumber
        [min]="0"
        [mode]="'decimal'"
        formControlName="newAmount"
        placeholder="Amount"
      ></p-inputNumber>

      <button (click)="addExpense()" [disabled]="!expensesForm.valid"  [label]="!editing ? 'Add Expense' : 'Edit Expense'"
              pButton
              type="button"></button>
    </div>
    <div formArrayName="expenses">
      <div *ngFor="let expense of expenses.controls; let i = index" [formGroupName]="i">
        <app-expense-item-card
          (delete)="deleteExpense($event)"
          (edit)="editExpense($event)"
          [expense]="expense.value"
          [index]="i"
        ></app-expense-item-card>
      </div>
    </div>
  </form>
  <h3>Daily Total: {{ dailyTotal | currency:'EUR' }}</h3>
</p-card>
<p-toast></p-toast>
